:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --accent-color: #819b57;
  --accent-color-dark: #465929;
  --accent-color-light: #cfcfbc;
  --color-copyright: #a18268;
  --color-secondary-dark: #a18268;
  
}

// scss variables
// $color-primary-light: #faf4ea;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;